{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 
    {% block title %}
    <title> Photo Gallery </title>
    {% endblock %}
  

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-3Ivskwia8Fui5tbQi+RW4DgTkJ8d+hW7mLe7Yk89ibmD9482VECh0WFof8kIEjwI" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
    
  {% endblock %}

</head>
<body>

    {% include "navbar.html" %}
    
    
    {% block content %} <h1 class='text-center'>Welcome to the newest museum</h1> {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>