<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
          {% for category in categories %}
          <a class="dropdown-item" href="{% url 'search_by_category' %}">{{category.name}}</a>
          {% endfor %}

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Location</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
        {% for location in locations %}
          <a class="dropdown-item" href=#>{{location.name}}</a>
        {% endfor %}
        </div>
      </li>
      
      
      
    </ul>
    <!--search form-->
    <div>
      <form class="navbar-form" role="search" action="{% url 'search_image' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search for image" name="photo">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <!--end form-->
    
  </div>
</nav>